*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 10px 5px 5px #4ea2fc;
    color: white;
    font-size: 1rem;
}

table th,
table td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #000c4f;
}

table th {
    background-color: #0048ff;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #009aff; /* light blue */
}

table tr:nth-child(odd) {
    background-color: #30b2ff; /* darker blue */
}

table tr:hover {
    background-color: #00196e;
}

table input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    border: 1px solid #022aff;
    border-radius: 5px;
}
.rating{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 280px;
    background-color: #75cfff;
    border:#75cfff ;
    box-shadow: 10px 5px 5px #4ea2fc;
}
.ratingP{
    font-size: 2rem;
    color: white;

}
.navbar{
    box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.73);
    background-color: #dddddd;
}
.navbar-brand{
    font-weight: bold;
    color: #0048ff;
}
.navbar-brand:hover{
    font-weight: bold;
    color: #009aff;
}

.nav-link{
    color: #0048ff;
    font-weight: bold;
    transition: color 0.2s ease;
}
.nav-link:hover {
    color: #0048ff;
}
.nav-dropdown {
    padding: 10px;
    border-radius: 0;
    box-shadow: none;
    color: #0048ff;

}

.dropdown-item {
    padding: 10px;
    color: #0048ff;
}
.dropdown-item:hover{
    width: auto;
}

.login {
    margin-left: auto;
}











