* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.frontH1 {
    color: dodgerblue;
    font-size: 2rem;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    top: 200px;
}

.mainp {
    font-weight: bold;
    font-size: medium;
    margin-top: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    iframe.body {
        max-width: 95vw;
    }
}

.navbar-brand,
.nav-link,
.dropdown-item {
    text-decoration: none !important;
}

.dropdown-item.active:hover,
.dropdown-item.active:active {
    color: white;
}
.scoreH1{
    color: dodgerblue;
    display: flex;
    font-size: 2rem;
    margin-bottom: 20px;
    height: 100%;
    top: 150px;
    justify-content: center;
    align-items: center;

}
.commentsH1{
    color: dodgerblue;
    display: flex;
    font-size: 2rem;
    margin-bottom: 20px;
    height: 100%;
    top: 100px;
    justify-content: center;
    align-items: center;
}
.ratingsH1{
    color: dodgerblue;
    display: flex;
    font-size: 2rem;
    margin-bottom: 20px;
    height: 100%;
    top: 250px;
    justify-content: center;
    align-items: center;
}
.mainpR{
    font-weight: bold;
    font-size: medium;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainpC{
    font-weight: bold;
    font-size: medium;
    margin-bottom: 350px;
    display: flex;
    justify-content: center;
    align-items: center;

}

